html {
  --primary: #7289DA;
  --primary-darker: #5c5cb6;

  --textcolor-primary: #f7fffb;
  --textcolor-secondary: #72767D;
  --textcolor-tertiary: #42464f;

  --background-color-lighter2: #40444B;
  --background-color-lighter1p5: #393C43;
  --background-color-lighter1: #36393F;
  --background-color: #2f3136;
  --background-color-darker1: #26282d;
  --background-color-darker2: #1c1e23;
  --background-color-transparent: rgba(47, 49, 54, 0.7);

  --scrollbar-track: #36393F;
  --scrollbar-thumb: #212121;
  --scrollbar-thumb-hover: #555;

  // TODO validate that these are necessary
  --border-color2: var(--background-color-lighter1); //#303237;
  --border-color3: #202225;

  --error: #aa3939;
  --error-background: #963b3b;
  --error-background-rgb: 91, 27, 27;
  --yellow: #c1c03d;
  --star-yellow-outer: rgb(229, 198, 92);
  --star-yellow-highlight: rgba(229, 198, 92, 0.1);
  --trash-red-highlight: rgba(229, 92, 92, 0.1);
  --primary-highlight: rgba(114, 137, 218, 0.1);
  //--star-yellow-outer: hsl(50, 95%, 63%);
}
