@import '_button';
@import '_checkbox';
@import '_hotkey-input';
@import '_keyboard-button';
@import '_select';
@import '_textinput';
@import 'radiogroup';

.sc-form-field {
  margin-bottom: 8px;

  & > .label {
    padding-left: 4px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

}
